<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <nav>
          <ul class="list-group">
            <li class="list-group-item">
              <a routerLink="/admin/pedidos">Pedidos</a>
            </li>
            <li class="list-group-item">
              <a routerLink="/admin/productos">Productos</a>
            </li>
            <li class="list-group-item">
              <a routerLink="/admin/usuarios">Usuarios</a>
            </li>
            <li class="list-group-item">
              <a routerLink="/admin/estadisticas">Estadísticas</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  