<nav class="navbar custom-navbar">
  <a class="navbar-brand" href="/">GPETRONIC</a>
  <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button> <!-- Botón de menú (hamburger) -->
  <div class="navbar-collapse">
    <ul class="horizontal-nav" [class.show]="menuVisible"> <!-- Clase dinámica que controla el desplegable -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/carrito">Carrito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/perfil">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pedidos">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="authService.logout()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>

  <router-outlet></router-outlet>
  