<div class="container">
    <h1>Gestión de Productos</h1>
    <a routerLink="/admin/productos/nuevo" class="btn btn-primary">Agregar Producto</a>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Categoría</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.categoria }}</td>
          <td>{{ producto.estado ? 'Activo' : 'Inactivo' }}</td>
          <div *ngFor="let producto of productos">
            <p>{{ producto.nombre }}</p>
            <button (click)="desactivarProducto(producto.id)">Desactivar</button>
          </div>
          
        </tr>
      </tbody>
    </table>
  </div>
  