/* You can add global styles to this file, and also import other style files */
/* Global styles - styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #212121;
    color: hsl(192, 100%, 88%);
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .button {
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(102, 224, 255, 0.2) 27%,
      rgba(102, 224, 255, 0.2) 63%,
      transparent 100%
    );
    padding: 1em;
    color: hsla(192, 100%, 88%, 0.806);
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .button:hover {
    color: hsl(0, 0%, 100%);
  }
  