<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Bienvenido a GPETRONIC</h1>
      <p class="lead">Ofertas increíbles en productos de electrónica y Beterwere</p>
    </div>
  </div>

  <!-- Botones para iniciar sesión y registrarse -->
  <div class="row">
    <div class="col-12 text-center">
      <button (click)="toggleLogin()" class="btn btn-primary m-2">Iniciar Sesión</button>
      <button (click)="toggleRegister()" class="btn btn-secondary m-2">Registrarse</button>
    </div>
  </div>

  <!-- Ventana flotante para iniciar sesión, se agrego evento close modal para cerrar ventana una vez que el usuario de click afuera -->
  <div *ngIf="showLogin" (click)="closeModal($event)" class="modal-overlay">
    <form (click)="$event.stopPropagation()" (submit)="onLoginSubmit()" class="container">
      <div class="input-container">
        <div class="input-content">
          <div class="input-dist">
            <div class="input-type">
              <input class="input-is" type="email" required placeholder="Email" id="loginEmail" [(ngModel)]="loginData.email" name="email" />
              <input class="input-is" type="password" required placeholder="Password" id="loginPassword" [(ngModel)]="loginData.password" name="password" />
            </div>
          </div>
        </div>
      </div>
      <button class="submit-button">Iniciar Sesion</button>
    </form>
  </div>

  <!-- Ventana flotante para registro, se agrego el evento close modal para crerrar ventana cuando se de click afuera -->
  <div *ngIf="showRegister" (click)="closeModal($event)" class="modal-overlay">
    <form (click)="$event.stopPropagation()" (submit)="onRegisterSubmit()" class="container">
      <div class="input-container">
        <div class="input-content">
          <div class="input-dist">
            <div class="input-type">
              <input class="input-is" type="text" required placeholder="Nombre" [(ngModel)]="registerData.nombre" name="nombre" />
              
              <!-- campo para Dirección -->
              <input class="input-is" type="text" placeholder="Dirección" [(ngModel)]="registerData.direccion" name="direccion" />
  
              <!-- campo para Teléfono -->
              <input class="input-is" type="text" placeholder="Teléfono" [(ngModel)]="registerData.telefono" name="telefono" />
  
              <!-- campo para Celular -->
              <input class="input-is" type="text" placeholder="Celular" [(ngModel)]="registerData.celular" name="celular" />
              
              <input class="input-is" type="email" required placeholder="Email" [(ngModel)]="registerData.email" name="email" />
              <input class="input-is" type="password" required placeholder="Password" [(ngModel)]="registerData.password" name="password" />
              <input class="input-is" type="password" required placeholder="Confirmar Password" [(ngModel)]="registerData.password_confirmation" name="password_confirmation" />
            </div>
          </div>
        </div>
      </div>
      <button class="submit-button">Registrarse</button>
    </form>
  </div>

  <!-- Sección de ofertas -->
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h2>Ofertas</h2>
    </div>
  
    <div class="row">
      <div class="col-md-4" *ngFor="let oferta of ofertas">
        <div class="card">
          <div class="image_container">
            <img [src]="'http://localhost:8000/storage/' + oferta.foto" alt="Imagen del producto" class="image">
          </div>
          <div class="card-body">
            <h5 class="title">{{ oferta.nombre }}</h5>
            <p class="size">{{ oferta.descripcion }}</p>
            <div class="action">
              <p class="price">{{ oferta.precio | currency }}</p>
            </div>
            <a [routerLink]="['/producto', oferta.id]" class="cart-button">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Footer -->
  <footer class="mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; 2024 GPETRONIC. Todos los derechos reservados.</p>
        <p>Contacto: "contacto"&#64;"gpetronic.com" | Tel: +123 456 7890</p>
      </div>
    </div>
  </footer>
</div>
